.iconBox {
  min-height: 248px;
}
.title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #212529;
}
.countNumber,
.plusIcon {
  font-size: 16px;
  color: #a65341;
  text-align: center;
  font-weight: bold;
}
.topImage {
  max-width: 100%;
}
@media (min-width: 0px) {
  .col7 {
    max-width: 13.7%;
    padding: 0px 5px !important;
  }
  .reviewsrow {
    display: flex;
    justify-content: space-between;
  }
}
