.categoryTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  padding-top: 5px;
}

.categoryTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
