.topbar {
  background: #a65341;
  color: #fff;
  padding: 5px 0;
}

.contact_icons {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid;
  cursor: pointer;
}
.contact_icons:nth-child(1) {
  border-left: none;
}

.marginNone svg {
  margin: none !important;
}
.topbar_row {
  align-items: center;
  margin: 5px 0px;
}
.right {
  float: right;
}
