body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .svg-inline--fa {
  height: auto;
  margin: 10px;
} */
.shadow-sm.p-3.mb-5.bg-white.rounded {
  border-radius: 10px !important;
  min-height: 248px;
}
.shadow-sm.p-3.mb-5.bg-white.rounded:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05) !important;
  transition: all 0.3s;
}
/* .react-multi-carousel-track {
  transition: all 2s ease !important;
} */
.react-multi-carousel-track {
  transition: all 3s ease !important;
}
.react-multi-carousel-list.serious-container ul.react-multi-carousel-track {
  transition: none !important;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  padding: 30px 5px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  background: #a65341;
}

button.navbar-toggler {
  margin-left: 20px;
}

@media (max-width: 767px) {
  nav.navbar.navbar-expand-md.navbar-light.bg-light {
    background: #8b703b !important;
    padding: 5px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 7px 5px;
  }
  .input-group > .custom-file,
  .input-group > .custom-select,
  .input-group > .form-control,
  .input-group > .form-control-plaintext {
    height: 50px;
  }
  .input-group {
    height: 50px;
  }
  .navbar-collapse {
    padding: 0px 20px 20px;
  }
}

@media (min-width: 768px) {
  .mobile_menu {
    display: none;
  }
}

.textHeadingBg {
  background: #213852;
  padding: 10px 0;
}
.categoryTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  padding-top: 5px;
}
.categoryTitle:hover {
  color: #a65341;
}
nav.categoryMenu_menuNavbar__EUUaD.navbar.navbar-expand-md.navbar-light {
  padding: 0px !important;
}
.btn-primary {
  background: #da0266 !important;
  border-color: #da0266 !important;
}
.btn-primary:hover {
  background: #1a1823 !important;
  color: #fff;
  border-color: #1a1823 !important;
}
