.banner {
  overflow: hidden;
  height: auto;
}
/* .banner img {
  max-height: 360px;
  margin: auto;
} */
.products_image {
  width: 100%;
  height: auto;
}

@media (min-width: 991px) {
  .products_image {
    min-height: 500px;
  }
}
